node_modules
/node_modules
/.idea
/npm-debug.log
.sass-cache/
*.css.map

./public/stylesheets/.sass-cache

//YELP CLIENT ID => kCR38KFnutfaegnQrb-kEg
//YELP CLIENT SECRET => Xof9H2QBTq6DvMrkmRJgWLYo9iG5KhlOmU3VQ6az78TChHVPGDpVhYaqwDUP7gLO

