* {
  box-sizing: border-box; }

body, html {
  height: 100%;
  font-family: 'Bitter', serif; }

body {
  background-color: #fbfbfb; }

.headerContainer {
  text-align: center; }
  .headerContainer .yelpLogo {
    text-align: center;
    background-image: url("../images/yelp_icon.png");
    width: 100px;
    height: 30px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 15px auto; }
  .headerContainer h1, .headerContainer a {
    text-align: center;
    color: #00648C; }

.mainBodyContainer .searchFormContainer {
  margin: 0 auto;
  padding: 2em; }
  .mainBodyContainer .searchFormContainer form .form-group {
    display: flex; }
    .mainBodyContainer .searchFormContainer form .form-group input.form-control {
      width: 85%;
      border: 1px solid #337AB7; }
    .mainBodyContainer .searchFormContainer form .form-group input.form-control:hover {
      background-color: #efefef;
      border: 2px solid #337AB7; }
    .mainBodyContainer .searchFormContainer form .form-group input.form-control:focus {
      background-color: #fff;
      border: 2px solid #337AB7; }
    .mainBodyContainer .searchFormContainer form .form-group .input-group-btn {
      display: inline-block;
      width: 15%;
      margin-left: -3px; }
      .mainBodyContainer .searchFormContainer form .form-group .input-group-btn .searchBtn {
        display: inline;
        width: 100%; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-120%);
    opacity: 0; }
  80% {
    transform: translateX(5%);
    opacity: 0.8; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes slideInFromRight {
  0% {
    transform: translateX(120%);
    opacity: 0; }
  80% {
    transform: translateX(-5%);
    opacity: 0.8; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.searchResultsContainer .estabCont:nth-of-type(even) {
  animation: 1.3s ease-in 0s 1 slideInFromRight; }

.searchResultsContainer .estabCont:nth-of-type(odd) {
  animation: 1.3s ease-in 0s 1 slideInFromLeft; }

.searchResultsContainer {
  margin: 10px auto; }
  .searchResultsContainer .estabCont {
    border: 2px solid #337AB7;
    box-shadow: 2px 2px 1px #225765;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 25px 10px 30px 10px;
    width: 95%;
    background-color: #fff; }
    .searchResultsContainer .estabCont h1 {
      text-align: center;
      margin: 0 0 25px 0;
      color: #00648C; }
    .searchResultsContainer .estabCont .aboutCont {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap; }
      .searchResultsContainer .estabCont .aboutCont img {
        width: 25%;
        max-width: 150px;
        margin: 0 auto;
        display: inline-block;
        border: 2px solid #28AADC; }
      .searchResultsContainer .estabCont .aboutCont .aboutEst {
        width: 35%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
        .searchResultsContainer .estabCont .aboutCont .aboutEst h4 .ratingSpan {
          color: blue; }
        .searchResultsContainer .estabCont .aboutCont .aboutEst h4 .moneySpan {
          color: green; }
        .searchResultsContainer .estabCont .aboutCont .aboutEst .address h5 {
          margin-bottom: 3px; }
        .searchResultsContainer .estabCont .aboutCont .aboutEst .address p {
          padding: 0;
          margin: 0; }
      .searchResultsContainer .estabCont .aboutCont .peopleGoingContainer {
        text-align: center;
        width: 35%; }
        .searchResultsContainer .estabCont .aboutCont .peopleGoingContainer .whosGoing {
          margin-top: 15px; }
        .searchResultsContainer .estabCont .aboutCont .peopleGoingContainer .userGoing {
          margin-top: 25px; }

.loginError {
  border: 2px solid #aaa;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(234, 67, 53, 0.9);
  text-align: center;
  color: #333;
  margin-top: 15px;
  padding: 10px; }

@media screen and (max-width: 650px) {
  .form-group input.form-control {
    width: 70% !important; }
  .form-group .input-group-btn {
    width: 30% !important; }

  .aboutCont img.img.img-responsive.img-rounded {
    width: 50%;
    margin: auto; }
  .aboutCont .aboutEst {
    width: 50%; }
  .aboutCont .peopleGoingContainer {
    width: 100%;
    margin: 0 auto; } }
@media screen and (max-width: 480px) {
  .aboutCont img.img.img-responsive.img-rounded {
    width: 80%; }
  .aboutCont .aboutEst {
    width: 80%; }
  .aboutCont .peopleGoingContainer {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
